<link rel="stylesheet" href="RegFormCSS.css">

<form action="action_page.php">
    <div class="container">
      <h1>Registeration Form</h1>
      <p>Please enter your details.</p>

      <label for="name"><b>Full Name</b></label>
      <input type="text" placeholder="Enter Full Name" name="name" id="name" required>

      <label for="address"><b>Address</b></label>
      <input type="text" placeholder="Enter Address" name="address" id="address" required>

      <label for="address-repeat"><b>Confirm Address</b></label>
      <input type="text" placeholder="Confirm Address" name="address-repeat" id="address-repeat" required>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" id="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

      <label for="psw-repeat"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" name="psw-repeat" id="psw-repeat" required>

      <label for="telephone number"><b>Telephone Number</b></label>
      <input type="tel" placeholder="Enter Telephone Number (Start with your country code. Example: 061-123-456-789)" name="telephone number" id="telephone number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}-[0-9]{3}" required>

      <label for="birthdate"><b>Birthdate</b></label>
      <input type="date" placeholder="Enter Birthdate (formal DD-MM-YYYY)" name="birthdate" id="birthdate" required>

      <p>By entering your details you are agreeing to our <a href="#">Terms & Conditions</a>.</p>
      <button type="submit" class="submitbtn">Submit</button>
    </div>

    <div class="container signin">
      <p>Already registered?<a href="#">Sign in</a>.</p>
    </div>
  </form>