* {box-sizing: border-box}

/* Add backgroung and padding to containers */
.container {
  background-image: url(img/halftone-yellow.png);
  padding: 18px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=number], input[type=date], input[type=tel], input[type=email] {
  width: 100%;
  padding: 16px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}


/*style for the submit button */
.submitbtn {
  background-color: #33c2d4;
  color: white;
  padding: 18px 22px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1.1;
}

.registerbtn:hover {
  opacity:1;
}

/* Adding blue color to links */
a {
  color: dodgerblue;
}

/* centering the text of the "sign in" section*/
.signin {
  text-align: center;
}